body {
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #DDDDDD;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    background-color: #EEEEEE;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.form-group {
    margin-bottom: 20px;
}
